html, body {
  /* background: #30373D; */
  margin: 0;
  /* padding-bottom: 2%; */
}

main {
  background: #30373D;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

header {
  /* width: 1920px;
  height: 139px; */
  width: 100%;
  height: 100%;
  background: #000000;
  color: #FFFFFF;
  font-family: "Raleway";
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  /* margin-bottom: 60px; */
  /* position: relative; */
}

#logo {
  /* position: absolute; */
}

header nav ul {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  font-size: 2rem;
}

header ul > li {
  /* display: block; */
  list-style-type: none;
  /* font-size: 2rem; */
}

header ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}

/* #controls {
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 0 auto;
  width: 1351px;
  display: flex;
  justify-content: space-evenly;
} */

#container {
  width: 100%;
  background-color: #FFFFFF;
}

#essay-area {
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* #dark-mode { */
  /* background-color: #30373D; */
  /* background-color: red;
  width: 84px;
  height: 35px; */
  /* border-radius: 525px; */

  /* height: 35px; */
  /* position: relative;
  top: 20px;
  left: 30px; */
/* } */

#controls {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* position:absolute; */
  /* top: 3px;
  right:3px;
  width: 60px; */
  /* outline: 1px solid yellow; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 40px;
  /* width: 60%; */
  /* margin: 0 auto; */
  justify-content: space-around;
  /* background-color: #FFFFFF; */
  /* border-bottom: 1px solid #707070; */
  /* align-items: center; */
}

.new-question {
  background-color: #CB8E00;
}

.pause {
  background-color: #707070;
}

.finish {
  background-color: #30373D;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #333333;
  width: 146px;
  height: 45px;
  /* margin-right: 62px;
  margin-top: 40px; */
  position: relative;
  top: 20px;
  right: 10px;
  border-radius: 5px;
  color: #CB8E00;
  text-align: center;
  font-size: 30px;
  /* padding-top: 5px; */
}

.button {
  width: 20%;
  height: 65px;
  /* padding: 1%; */
  /* padding: 10px 0; */
  /* height: auto; */
  color: #FFFFFF;
  outline: none;
  font-family: "Raleway";
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  /* vertical-align: middle; */
}

.button:disabled {
  cursor: not-allowed;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

#timer-icon {
  max-width: 20%;
}

.horizontal-line-gray {
  display: block;
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #a9a6a6;
}

.vertical-line-gray {
  border-left: 1px solid #a9a6a6;
  margin: 2% 2% 4% 2%;
  /* margin-bottom: 10%; */
  /* height: 100%; */
}

#essay {
  box-sizing: border-box;
  width: 100%;
  height: 1200px;
  /* margin: 0 auto; */
  display: block;
  border: none;
  outline: none;
  position: relative;
  border-radius: 0 0 15px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#instructions-welcome {
  font-size: 2.5rem;
  padding-bottom: 30px;
}

#instructions {
  position: absolute;
  top: 200px;
  left: 200px;
  color: #707070;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  line-height: 250%;
}

#about-contact-container {
  display: flex;
  flex-direction: row;
  color: #30373D;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  /* background-color: #e0e1e3;  */
}

#about-me, #contact-me {
  width: 50%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 6%;
}

#about-me p,
#contact-me p {
  padding: 0 6%;
  font-size: 2rem;
  text-align: left;
}

.section-title {
  text-align: center;
  padding: 0 1% 1%;
  /* margin-top: 4%; */
  display: inline-block;
  /* margin-bottom: 0; */
  margin: 0 auto 1%;
  border-bottom: thick solid #CB8E00;
}

#form-container {
  display: block;
  margin: 0;
}

form {
  display: block;
  padding: 0;
}

form input,
form textarea {
  box-sizing: border-box;
  display: block;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #707070;
  /* color: #707070; */
  color: #30373D;
  font-family: "Raleway";
  font-size: 1.5rem;
  padding: 3%;
  margin-bottom: 2%;
  border-radius: 10px;
}

form input:focus,
form textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

form textarea {
  min-height: 250px;
}

input[type="submit"] {
  width: 20%;
  height: auto;
  padding: 1%;
  border-radius: 40px;
  background-color: #CB8E00;
  color: #FFFFFF;
  outline: none;
  font-family: "Raleway";
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#testimonials-section {
  color: #30373D;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #e0e1e3;  */
}

#testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  font-size: 1.5rem;
}

#testimonials figure {
  display: flex;
  align-items: center;
  text-align: left;
  /* background-color: #FFFFFF; */
  /* box-shadow: 10px 5px 5px #FFFFFF; */
  box-shadow: 10px 25px 25px  #dcdcde;
  border-radius: 15px;
  padding: 0 3%;
}

.flag-icon {
  /* outline: 5px solid red; */
  width: 8%;
  border: 1px solid #bab3b3;
}

#testimonials cite {
  font-style: normal;
  font-weight: bold;
}

footer {
  margin: 0;
  margin-bottom: 2%;
  /* background-color: #e0e1e3;  */
}

#footer-container {
  /* outline: 3px solid red; */
  display: flex;
  /* justify-content: center; */
  width: 40%;
  margin: 0 auto;
}

footer ul {
  display: flex;
  width: 50%;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

footer ul > li {
  /* display: block; */
  list-style-type: none;
  /* font-size: 2rem; */
  cursor: pointer;
}

footer p {
  display: inline-block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}