/* @media screen and (max-width: 1200px) {
  html, body {
    font: 0.75rem "Raleway", sans-serif;
  }

  #testimonials figure {
    flex-direction: column;
    width: 100%;
  }

  #menu-button {
    display: block;
    margin: 0;
    padding: 2vw;
    font-size: 3vh;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 85%;
    top: 3%;
  }

  nav ul {
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: none;
    width: 100%;
    margin: 0;
    padding: 1.5%;
  }

  nav a {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  #logo {
    display: none;
  }
  
  ul::before {
    content: url("./assets/svg/logo.svg");
  }

  .button {
    text-align: center;
    padding: 0;
  }

  .button .icon {
    padding: 0;
  }

  .button-text {
    display: none;
  }

  #about-contact-container {
    flex-direction: column;
    width: 100%;
  }

  .flag-icon {

  }
} */

/* @media screen and (max-width: 1200px) {
  #testimonials {
    display: grid;
    grid-template-columns: 1fr;
  }
} */