html, body {
  margin: 0;
  font: 62.5% "Raleway", sans-serif;
  width: 100%;
}

header {
  width: 100%;
  background: #000000;
}

main {
  background: #30373D;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

#menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 2rem;
}

#menu li {
  padding: 5rem 0;
}

#menu a:hover {
  color: #CB8E00;
}

#menu a {
  color: #FFFFFF;
  text-decoration: none;
}

#menu-button {
  display: none;
}

#writing-app {
  position: relative;
  width: 70%;
  border-radius: 3rem;
  margin: 0 auto;
  overflow: hidden;
}

#controls {
  box-sizing: border-box;
  display: flex;
  padding: 3rem;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 0;
  position: relative;
}

.button {
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.large-button {
  width: 18%;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.25rem;
}

.large-button:first-child {
  margin-right: 10rem;
}

.large-button:nth-child(4) {
  margin-left: 10rem;
}

.small-button {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.orange {
  background-color: #CB8E00;
}

.gray {
  background-color: #707070;
}

.continue {
  display: none;
}

.blue {
  background-color: #30373D;
}

.horizontal-thick-line-gray {
  width: 95%;
  margin: 0 auto;
  border-top: 5px solid #a9a6a6;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.whitebox {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #30373D;
  background-color: #FFFFFF;
  padding: 2% 0;
  min-height: 85rem;
  position: relative;
}

#text-container {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

#timer-box {
  background-color: #333333;
  padding: 0.5% 2%;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(50%,-50%);
  border-radius: 8px;
}

#timer {
  box-sizing: border-box;
  border-radius: 15px;
  color: #CB8E00;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

#welcome {
  text-align: center;
  margin: 5rem;
}

#instructions-container {
  text-align: center;
}

#instructions {
  display: inline-block;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

#instructions li {
  margin: 0 5rem 5rem;
}

.button img {
  text-align: center;
  height: auto;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  height: 100%;
}

.horizontal-line-gray {
  display: block;
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #a9a6a6;
}

#about-contact-container {
  display: flex;
  color: #30373D;
  font-family: 'Raleway', sans-serif;
}

#horizontal-line-about-contact {
  display: none;
}

#about-me, #contact-me {
  width: 50%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.75rem;
}

#about-me p,
#contact-me p {
  padding: 0 6%;
  font-size: 2rem;
  text-align: left;
}

.section-title {
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  border-bottom: thick solid #CB8E00;
}

form {
  width: 60%;
  margin: 5% auto;
}

form input,
form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #707070;
  color: #30373D;
  font-family: "Raleway";
  font-size: 1.75rem;
  padding: 3%;
  margin-bottom: 2%;
  border-radius: 10px;
}

form input:focus,
form textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

form textarea {
  min-height: 250px;
}

.vertical-line-gray {
  border-left: 1px solid #a9a6a6;
  margin: 2% 2% 4% 2%;
}

#testimonials-section {
  color: #30373D;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

#testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  font-size: 1.75rem;
}

#testimonials figure {
  display: flex;
  align-items: center;
  text-align: left;
  box-shadow: 20px 25px 25px  #dcdcde;
  border-radius: 15px;
  padding: 2% 5%;
  /* font-size: 1rem; */

}

.flag-icon {
  width: 20%;
  border: 1px solid #bab3b3;
  vertical-align: middle;
}

#testimonials cite {
  font-style: normal;
  font-weight: bold;
}

blockquote {
  vertical-align: middle;
}

.report-container {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #30373D;
  background-color: #FFFFFF;
  padding: 2%;
  border-radius: 3rem;;
  position: relative;
  width: 35%;
  overflow: hidden;
}

.report-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3%;
}

#report > h1 {
  text-align: center;
}

.report-section > h2 {
  text-align: center;
}

#report > img {
  display: block;
  margin: 0 auto 3%;
}

footer {
  margin: 0;
  margin-bottom: 2%;
}

#footer-container {
  display: flex;
  width: 40%;
  margin: 0 auto;
}

footer ul {
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

footer ul > li {
  list-style-type: none;
  cursor: pointer;
}

footer p {
  display: inline-block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.grow-wrap {
  display: grid;
  overflow: word-wrap;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > .essay,
.grow-wrap::after {
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.essay {
  overflow: hidden;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-count {
  position: absolute;
  bottom: 20px;
  right: 45px;
  color: #6a6767;
}

#modal-time-ended {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0,0,0,0.6); 
  text-align: center;
}

#modal-content-time-ended {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: "Raleway";
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 10px;
  padding-bottom: 1.5%;
}

#modal-message-confirmation {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0,0,0,0.6); 
  text-align: center;
}

#modal-content-message-confirmation {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: "Raleway";
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 10px;
  padding-bottom: 1.5%;
}


.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .mistakes-list li {
  list-style-type: none;
} */

/* .bold {
  font-weight: bold;
} */

ul > li {
  list-style-type: none;
}

/* .overview {
  border: 2px solid black;
} */

/* .overview > h2 {
  font-weight: bold;
  font-size: 5rem;
} */

/* dt, dd {
  display: inline;
} */

dt {
  /* display: inline-block; */
  font-weight: bold;
  /* text-align: right; */
  margin: 2%;
  color:rgb(0, 0, 0);
}

.report-section {
  /* border: 2px solid gray; */
  /* padding: 2% 3%; */
  border: 2px solid black;
  margin-bottom: 5%;
  /* box-shadow: 20px 25px 25px  #d5d5d8; */
}

#report h1 {
  font-size: 3.5rem;
}

.overview dt {
  display: block;
  text-align: center;
}

.overview dd {
  display: block;
  font-style: italic;
  font-size: 1.75rem;
  color: rgb(87, 84, 84);
  padding-right: 3%;
}

.no-mistakes-found {
  text-align: center;
}

#words-per-paragraph-dd {
  margin: 0;
  padding: 0;
}

#words-per-paragraph-dd ul {
  text-align: center;
  font-style: normal;
  padding: 0;
}

#words-per-paragraph-dd ul li {
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 2.5rem;
}
