@media screen and (min-width: 769px) and (max-width: 1024px) {
  html, body {
    font-size: 40%;
  }

  .small-button {
    padding: 1rem 3rem;
  }
  
  #about-contact-container {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  #about-me, #contact-me {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  #about-me p,
  #contact-me p {
    padding: 0 6%;
    text-align: center;
  }

  form {
    width: 60%;
  }
  
  form input,
  form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #707070;
    color: #30373D;
    font-family: "Raleway";
    padding: 2%;
  }

  #horizontal-line-about-contact {
    display: block;
  }

  #vertical-line-about-contact {
    display: none;
  }
  
  #testimonials {
    grid-template-columns: 1fr;
    padding: 0;
  }
}