@media screen and (max-width: 1200px) {
  #menu {
    padding: 1%;
  }

  #timer-box {
    position: absolute;
    top: 82%;
    right: 50%;
    transform: translate(50%,-50%);
  }

  #controls {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .large-button {
    border-radius: 8px;
    padding: 1rem 2rem;
  }

  .icon {
    padding: 0;
  }

  .button-text {
    display: none;
  }

  #menu-button {
    display: block;
    margin: 0;
    padding: 1vw;
    font-size: 3vh;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 1%;
  }

  #menu li {
    display: none;
  }

  #horizontal-line-about-contact {
    display: block;
  }

  #vertical-line-about-contact {
    display: none;
  }

  #about-contact-container {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  #about-me, #contact-me {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1srem;
  }

  #about-me p,
  #contact-me p {
    padding: 0 6%;
    text-align: center;
  }

  .section-title {
    font-size: 3.5rem;
  }

  form {
    width: 60%;
  }

  form input,
  form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #707070;
    color: #30373D;
    font-family: "Raleway";
    padding: 2%;
  }

  #testimonials {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .flag-icon {
    width: 10%;
  }
}

